@import "../../scss/variables";

:host {
  background-color: black;
  border-bottom: 5px solid $primary;
  padding: 5px 5px;

  @media (min-width: 600px) {
    padding: 5px 20px;
  }
}

.header {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .logo {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
  }

  @media (min-width: 600px) {
    justify-content: space-between;
  }
}