@import "../../scss/variables";

:host {
  background-color: $black;
  border-top: 5px solid $primary;
  padding: 10px 0;
}
.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;

  @media (min-width: 600px) {
    padding: 0 10px;
  }
}