// Colors
$primary: #A38A00;
$black: #000000;

// Font
$roboto: Roboto, "Helvetica Neue", sans-serif;

// Layout
$gifRowSpace: minmax(100px, 1fr);

// Animation
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}