@import "../scss/variables";

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto min-content;
  gap: 5px;
  height: 100%;
  color: $primary;
  text-align: center;

  h2 {
    align-self: center;
    justify-self: center;
  }

  .header {
    grid-column: 1 / -1;
  }

  figure {
    width: 100%;
    height: 100%;
    background-color: rgba($primary,.3);
    animation: appear 1s;

    .image {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .paginator {
    grid-column: 1 / -1;
  }

  @media (min-width: 600px) {
    &.images {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: min-content $gifRowSpace $gifRowSpace $gifRowSpace min-content;

      .paginator {
        grid-row: -1;
      }
    }
  }
}

