<ng-container *ngIf="listData$ | async as listData">
  <div
    class="grid"
    [ngClass]="{
      images: listData.pagination.count !== 0
    }"
  >
    <app-header class="header"><app-search></app-search></app-header>
    <ng-container *ngIf="listData.pagination.count !== 0; else noResults">
      <ng-container *ngFor="let gif of listData.data">
        <figure>
          <img class="image" src="{{ getGifUrl(gif) }}" />
        </figure>
      </ng-container>
    </ng-container>
    <app-paginator
      class="paginator"
      [paginationData]="listData.pagination"
    ></app-paginator>
  </div>
</ng-container>
<ng-template #noResults>
  <h2>Unfortunately there are no results for this search!</h2>
</ng-template>
