@import "./app/scss/variables";
@import '~bootstrap/scss/bootstrap';

@import './app/scss/bootstrap/pagination';

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-family: $roboto;
  font-size: 13px;
  line-height: 15px;
  color: $white;
}
