<div class="form-wrapper gap-2">
  <form [formGroup]="searchForm">
    <input
      class="form-control"
      type="text"
      formControlName="searchTerm"
      placeholder="Search for images!"
    />
  </form>
  <button class="btn btn-outline-primary" (click)="search()">SEARCH</button>
  <button class="btn btn-outline-primary" (click)="clear()">CLEAR</button>
</div>
